<form method="POST" action="/prehistoric_creatures">
    <label for="prehistoric_creaturesType">Type</label>
    <input id="prehistoric_creaturesType" type="text" name="type">
        <!-- name="DinosaurTupeInput" -->
    <label for="prehistoric_creaturesName">Name</label>
    <input id="prehistoric_creaturesName" type="text" name="name">
  
    <input type="submit">
  </form>